In [ ]:
import json

In [3]:
json.dump() – Write JSON data to a fileobj={"name":"anshika","company":"IBM","salary":45000}
json.dumps(obj)# dump s ka mtlb hai dumb as a string

'{"name": "anshika", "company": "IBM", "salary": 45000}'

In [5]:
obj={"name":"anshika","company":"IBM","salary":45000}
s=json.dumps(obj)
type(s)

str

In [7]:
print(s)

{"name": "anshika", "company": "IBM", "salary": 45000}

dumps vo ek python obj ko json string me convert krta h or jo loads h vo ek json string ko python obj.. me cnvert krta h

In [9]:
d=json.loads('{"name":"anshika","company":"IBM","salary":45000}')
type(d)# convert or load a json string into a python obj..

dict

In [11]:
print(d)

{'name': 'anshika', 'company': 'IBM', 'salary': 45000}

json.dump() – Write JSON data to a filee

In [14]:
file = open("data.json","w")

In [16]:
json.dump(obj,file)
file.close()

In [37]:


data = {"name": "Alice", "age": 25, "city": "New York"}

json_string = json.dumps(data)
print(json_string)  # Output: {"name": "Alice", "age": 25, "city": "New York"}
print(type(json_string))  # <class 'str'>

{"name": "Alice", "age": 25, "city": "New York"}
<class 'str'>

In [48]:
with open("data.json", "w") as file:
    json.dump(data, file)

In [50]:
formatted_json = json.dumps(data, indent=4)
print(formatted_json)

{
    "name": "Alice",
    "age": 25,
    "city": "New York"
}