# Core Data Structures in Pandas

Pandas is built on two main data structures:

- 1-Series → One-dimensional (like a single column in Excel)
- 2-DataFrame → Two-dimensional (like a full spreadsheet or SQL table)

## Series — 1D Labeled Array

A Series is like a list with labels (index).

In [2]:
import pandas as pd 
s=pd.Series([23,56,57,78,88,79,99,97,99])
print(s)
type(s)

0    23
1    56
2    57
3    78
4    88
5    79
6    99
7    97
8    99
dtype: int64

pandas.core.series.Series

In [3]:
s2=pd.Series([23,56,57,78,88,79,99,97,99],index=["harry","akash","keerti","rehan","sanaya","soumya","manshi","anshika","sanya"])

In [4]:
s2

harry      23
akash      56
keerti     57
rehan      78
sanaya     88
soumya     79
manshi     99
anshika    97
sanya      99
dtype: int64

In [10]:
s2["anshika"]

97

In [12]:
s2["sanya"]

99

# DataFrame — 2D Labeled Table

A DataFrame is like a dictionary of Series — multiple columns with labels.

In [15]:
data = {
    "name":["anshika","sanya","manshi"],
    "age":[23,24,25],
    "city":["satna","indore","bhopal"]
}

In [23]:
df = pd.DataFrame(data)
df

      name  age    city
0  anshika   23   satna
1    sanya   24  indore
2   manshi   25  bhopal

In [25]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [27]:
df.columns

Index(['name', 'age', 'city'], dtype='object')